body {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  background-color: black;
  font-family: monospace;
  text-decoration: underline;
  border-bottom: 1px solid gray;
  text-align: left;
}
header h1 {
  margin-left: 16px;
}

a                 {text-decoration: none;}
a:link, a:visited {color: blue;}
a:hover           {color: navy;}
a:active          {color: red;}

.discordTag {
  color: gray;
  font-family: monospace;
}

.thumb-big {
  width: 480px;
  max-width: 100%;
}
.thumb-small {
  width: 240px;
  max-width: 100%;
}